@font-face {
    font-family: Nexa;
    src: url("fonts/Nexa Bold.otf");
}

@font-face {
    font-family: Nexa Light;
    src: url("fonts/Nexa Light.otf");
}

/* A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */
body {font: 13px Helmet, Freesans, sans-serif;}

/* Using local fonts? Check out Font Squirrel's webfont generator: http://www.fontsquirrel.com/tools/webfont-generator */

/* We like off-black for text. */
body, select, input, textarea {color: #333;}

a {color: #03f;}
a:hover {color: #69f;}

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;} 

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;} 

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }


/* Media queries
-------------------------------------------------------------------------------*/
/* Desktops and laptops ----------- */

/* navigation menu */

	.solotopheader {
		position: absolute;
		left: 50%;
		margin-left: -500px;
		width: 1000px;
		background-color: #ffffff;
		height: 70px;
		z-index: 12;
		top: 900px;
	}

	.solologotype {
		font-family: Nexa Light;
		font-size: 19.25px;
		float: left;
		margin-top: 40px;
	}

	.solologotype > img{
		float: left;
		margin-top: 3px;
		margin-right: 5px;

	}

	.solologotype > div {
		float: left;
	}

	.solonavmenu {
		margin-top: 40px;
		float: right;		
	}

	.solonavmenuitem {
		display: inline-block;
		margin-left: 48px;

	}

	.solonavmenuitem > a {
		text-decoration: none;
		font-size: 22.29px;
		font-family: Nexa Light;
		color: #000;
	}

	.solonavmenuitem > a:visited {
		color: #000;
	}

	.solonavmenuitem > a:hover {
		color: #000;
	}



/*
	Styling first section
*/


	.solosection {
		width: 100%;
		display: block;
		height: 900px;
	}

	.solofirstsection {
		background-color: #973232; 		
	}

	.solobackground {
		height:100%;
		width:100%;
	}

	.solologo {
		position:absolute;
	    left:0;
	    right:0;
	    margin-left:auto;
	    margin-right:auto;
	    top: 300px;
	    width: 138px;
	    height: 97px;
	}

	.solosloganone {
		position:absolute;
	    left:0;
	    right:0;
	    margin-left:auto;
	    margin-right:auto;
	    top: 444px;
	    width:1012px;
	    font-family: Nexa;
	    font-size: 70.25px;
	    color: #fff;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
	}

	.soloslogantwo {
		position:absolute;
	    left:0;
	    right:0;
	    margin-left:auto;
	    margin-right:auto;
	    top: 529px;
	    width: 900px;
	    font-family: Nexa Light;
	    font-size: 35.13px;
	    color: #fff;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
	}

	.soloscrolldown {
		position:absolute;
	    left:0;
	    right:0;
	    margin-left:auto;
	    margin-right:auto;
	    top: 730px;
	}

/*
	Styling second section
*/

	.soloaboutussection {

	}

	.solodescription {
		font-family: Nexa Light;
		font-size: 29px;
		width: 1000px;
		height: 639px;
		position:absolute;
	    left:0;
	    right:0;
	    margin-left:auto;
	    margin-right:auto;
	    margin-top: 170px;
	    color: #f3b344;
	}
	
	.solopersons {
		width: 1000px;
		position:absolute;
	    left:0;
	    right:0;
	    margin-left:auto;
	    margin-right:auto;
	    margin-top: 261px;
	    z-index: -1;
	}

	.soloellyname {
		font-family: Nexa Light;
		font-size: 29px;
		width: 197px;
		position:absolute;
	    color: #f3b344;
	}
	
	.soloabulmaaliname {
		font-family: Nexa Light;
		font-size: 29px;
		width: 173px;
		position:absolute;
	    color: #f3b344;
	    left: 826px;
	}

	.solothegeeks {
		font-family: Nexa Light;
		font-size: 29px;
		width: 143px;
		position:absolute;
	    color: #666666;
	    margin-top: 35px;
	}
	
	.solotheartist {
		font-family: Nexa Light;
		font-size: 29px;
		width: 138px;
		position:absolute;
	    color: #666666;
	    left: 863px;
	    margin-top: 35px;

	}
	
	.solocentring {
		width: 1000px;
		position:absolute;
	    left:0;
	    right:0;
	    margin-left:auto;
	    margin-right:auto;
	    margin-top: 458px;
	}

	.solosmallgrid1 {
		width: 60px;
		position:absolute;
	    left:0;
	    right:0;
	    margin-top: 80px;
	}

	.solosmallgrid2 {
		width: 60px;
		position:absolute;
	    right:0;
	    margin-top: 80px;
	}

	.solosmallcolumn {
		width: 25px;
		display: inline-block;
		float: left;
		margin-right: 5px;
	}

/*
	Styling services section
*/

	.soloservicescontainer {
		width: 1000px;
		position:absolute;
	    left:0;
	    right:0;
	    margin-left:auto;
	    margin-right:auto;
	    margin-top: 242px;
	}

	.soloservicesgrid {
		width: 220px;
		float: left;
		height: 480px;
		margin-right: 40px;
	}

	.soloservicesgridlastitem {
		margin-right: 0px;
	}

	.solocreativeicon {
		margin-top: 43px;
		margin-bottom: 25px;
		margin-left:auto;
	    margin-right:auto;
	    width: 60px;
	}

	.soloservicestitle {
		font-size: 22.64px;
		font-family: Nexa Light; 
		margin-bottom: 50px;
		margin-left:auto;
	    margin-right:auto;
	    width: 220px;
	    text-align: center;


	}

	.soloservicesdesc {
		font-family: Nexa Light;
		font-size: 19.01px; 
		text-align: justify;
	}

	.soloservicessection {
		background-color: #fff;
	}

	.soloservicesbold {
		font-family: Nexa;
	}


/*
	Styling portfolio section
*/

	.soloprotfoliosection {
		background-color: #fff;
	}


	.soloportfolioconatiner {
		width: 1000px;
		position:absolute;
	    left:0;
	    right:0;
	    margin-left:auto;
	    margin-right:auto;
	    margin-top: 242px;
	}

	.soloworkitem {
		width: 220px;
		float: left;
		height: 220px;
		margin-bottom: 40px;
		background-color: #000;
		margin-right: 40px;
	}

	.soloworkitemlast {
		margin-right: 0px;
	}


/*
	Styling contactus section
*/

	.solointerested {
		font-family: Nexa Light;
		font-size: 42.03px;
		width: 456px;
		position:absolute;
	    left:0;
	    right:0;
	    margin-left:auto;
	    margin-right:auto;
	    margin-top: 330px;
	    color: #616161;
	}
	
	.sololetusknow {
		font-family: Nexa;
		font-size: 72.05px;
		width: 515px;
		position:absolute;
	    left:0;
	    right:0;
	    margin-left:auto;
	    margin-right:auto;
	    margin-top: 385px;
	    color: #f3b344;
	}

	.sologrid {
		width: 885px;
		position:absolute;
	    left:0;
	    right:0;
	    margin-left:auto;
	    margin-right:auto;
	    margin-top: 520px;
	    color: #f3b344;
	    font-family: Nexa Light;
	    font-size: 20.35px;
	}

	.solocolumn {
		width: 330px;
		float: left;
	}

	.sololastitem {
		width:200px;
	}

	.soloinlined {
		display: inline-block;
		margin-left: 15px;
		top: 0px;
		position: absolute;
		float: left;
	}

	.solofontnexabold {
		font-family: Nexa;

	}

	.sologrid2 {
		width: 595px;
		position:absolute;
	    left:0;
	    right:0;
	    margin-left:auto;
	    margin-right:auto;
	    margin-top: 575px;
	    color: #616161;
	    font-family: Nexa Light;
	    font-size: 20.35px;
	}

	.solocolumn2 {
		width: 35px;
		float: left;
		margin-left: 15px;

	}

	.solofirstitem {
		width:230px;
		margin-top: 5px;
	}


/*
	Styling footer section
*/
	.solofootersection {
		background-color: #f3b344 ;
		height: 300px;
	}

	.solofooterlogo {
		width: 126px;
		position:absolute;
	    left:0;
	    right:0;
	    margin-left:auto;
	    margin-right:auto;
	    margin-top: 50px;
	    color: #616161;
	    font-family: Nexa Light;
	    font-size: 20.35px;
	}

	.solofootertext {
		width: 546px;
		position:absolute;
	    left:0;
	    right:0;
	    margin-left:auto;
	    margin-right:auto;
	    margin-top: 180px;
	    color: #fff;
	    font-family: Nexa Light;
	    font-size: 20px;
	}







@media only screen and (min-device-width : 768px) and (max-device-width : 1149px) {
	.solosection {
		width: 100%;
		display: block;
		height: 768px;
	}

	.solologo {
		position:absolute;
	    left:0;
	    right:0;
	    margin-left:auto;
	    margin-right:auto;
	    top: 260px;
	    width: 138px;
	    height: 97px;
	}
	

	.solosloganone {
		position:absolute;
	    left:0;
	    right:0;
	    margin-left:auto;
	    margin-right:auto;
	    top: 395px;
	    width:773px;
	    font-family: Nexa;
	    font-size: 54.07px;
	    color: #fff;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
	}

	.soloslogantwo {
		position:absolute;
	    left:0;
	    right:0;
	    margin-left:auto;
	    margin-right:auto;
	    top: 460px;
	    width: 657px;
	    font-family: Nexa Light;
	    font-size: 27.04px;
	    color: #fff;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
	}

	.soloscrolldown {
		position:absolute;
	    left:0;
	    right:0;
	    margin-left:auto;
	    margin-right:auto;
	    top: 640px;
	    width: 126px;
	    height: 76px;
	}

	.solotopheader {
		position: absolute;
		left: 50%;
		margin-left: -500px;
		width: 1000px;
		background-color: #ffffff;
		height: 70px;
		z-index: 12;
		top: 768px;
	}

	.solodescription {
		font-family: Nexa Light;
		font-size: 21.26px;
		width: 738px;
		height: 639px;
		position:absolute;
	    left:0;
	    right:0;
	    margin-left:auto;
	    margin-right:auto;
	    margin-top: 170px;
	    color: #f3b344;
	}
	.solopersons {
		width: 1000px;
		position:absolute;
	    left:0;
	    right:0;
	    margin-left:auto;
	    margin-right:auto;
	    margin-top: 261px;
	    z-index: -1;
	}

	.soloellyname {
		font-family: Nexa Light;
		font-size: 21.99px;
		width: 197px;
		position:absolute;
	    color: #f3b344;
	}
	
	.soloabulmaaliname {
		font-family: Nexa Light;
		font-size: 21.99px;
		width: 173px;
		position:absolute;
	    color: #f3b344;
	    left: 826px;
	}

	.solothegeeks {
		font-family: Nexa Light;
		font-size: 19.06px;
		width: 143px;
		position:absolute;
	    color: #666666;
	    margin-top: 35px;
	}
	
	.solotheartist {
		font-family: Nexa Light;
		font-size: 29px;
		width: 138px;
		position:absolute;
	    color: #666666;
	    left: 863px;
	    margin-top: 35px;

	}
	
	.solocentring {
		width: 1000px;
		position:absolute;
	    left:0;
	    right:0;
	    margin-left:auto;
	    margin-right:auto;
	    margin-top: 458px;
	}

	.solosmallgrid1 {
		width: 60px;
		position:absolute;
	    left:0;
	    right:0;
	    margin-top: 80px;
	}

	.solosmallgrid2 {
		width: 60px;
		position:absolute;
	    right:0;
	    margin-top: 80px;
	}

	.solosmallcolumn {
		width: 25px;
		display: inline-block;
		float: left;
		margin-right: 5px;
	}


}

@media only screen and (max-width : 320px) {

}



/* Print styles
-------------------------------------------------------------------------------*/
@media print {



}